@import "variables";
@import "mixins";

.Layout {
  overflow: hidden;
  height: 100vh;
  &__Container {
    @include scroll();
    height: calc(100% - 4.5rem);
  }
}

@media screen and (max-width: map-get($grid-breakpoints,"md")) {
  .Layout {
    padding: 0;
    max-width: none;
  }
}

@media screen and (min-width: map-get($grid-breakpoints,"md")) {
  .Layout {
    max-width: map-get($container-max-widths, "xl");
  }
}

@media screen and (min-width: map-get($grid-breakpoints,"xxl")) {
  .Layout {
    max-width: map-get($container-max-widths, "xxl");
  }
}
