@import "mixins";
@import "variables";

.Examples {
  &__Card {
    opacity: 0;
    padding: 1rem;
    @include cg-card;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
    }
    p {
      margin-top: 0.5rem !important;
    }

    button {
      width: auto;
      color: $dark-gray-blue;
      border: 1px solid $dark-gray-blue;
      &::after {
        font-family: "icomoon" !important;
        content: "\e927";
        margin-left: 0.25rem;
        transform: rotate(180deg);
        font-size: map-get($font-level, "xs");
      }

      &:hover {
        color: $primary;
        border-color: $primary;
        transition: 1s;
        &::after {
          animation: move 1s infinite;
        }
      }
    }
  }
}

.fadein {
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: rotate(180deg) translateX(0);
  }

  100% {
    transform: rotate(180deg) translateX(-0.25rem);
  }
}

@keyframes fadein {
  0% {
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
