<div class="Menu" *ngIf="this.$window.device$ | async as device">
  <ng-template *ngTemplateOutlet="device !== this.deviceType.Desktop ? tHamburger : tMenu"></ng-template>
</div>

<ng-template #tMenu>
  <ul>
    <li [class.active]="this.getIsActiveRoute(this.routerPath.Tutorial)"
      (click)="this.navigate(this.routerPath.Tutorial)">
      <em class="icon-library d-xl-none"></em>
      <p>{{this.getRouterName(this.routerPath.Tutorial)}}</p>
    </li>
    <li [class.active]="this.getIsActiveRoute(this.routerPath.Example)" (click)="
      this.navigate(this.routerPath.Example)">
      <em class="icon-listview d-xl-none"></em>
      <p>{{this.getRouterName(this.routerPath.Example)}}</p>
    </li>
    <li (click)="this.collapse()">
      <em class="icon-setting"></em>
      系統設置
    </li>
  </ul>
</ng-template>

<ng-template #tHamburger>
  <div #tMobileMenu>
    <em (click)="this.expand(tMobileMenu)" class="icon-list"></em>
    <div *ngIf="this.isOpen" class="Menu__Mobile">
      <ng-template *ngTemplateOutlet="tMenu"></ng-template>
    </div>
  </div>
  <div *ngIf="this.isOpen" class="Menu__Mask"></div>
</ng-template>
