@import "variables";
@import "mixins";

button {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: $blue-layer-5;
  font-size: map-get($font-level, "md");
  &::ng-deep {
    color: $white;
  }

  &:hover {
    background-color: #6780c6;
  }

  &:focus {
    background-color: #324986;
  }

  &:disabled {
    &::ng-deep {
      color: $white;
      cursor: not-allowed;
    }
    background-color: $blue-layer-6;
  }
}

.white {
  @include border($white);
  background-color: inherit;
  border: 1px solid $blue-layer-5;
  color: $midnight;
  &:hover {
    background-color: $white;
  }

  &:focus {
    background-color: $white;
  }
}
