<div class="Tutorial row">
  <div class="col-xl-6 col-12  h-100">
    <div class="Tutorial__Card frontend">
      <h1 class="text-center w-100">基本教學</h1>
      <p class="mt-3">透過 G5Studio™
        獨創的「形象化教學法」，將難懂的程式概念轉換為生活中常見的案例，快速且紮實地進入前端工程的領域，課程針對俗成的前端三寶：Html、Javascript、Css，分為不同的章節進行講解。</p>
      <table class="mt-3">
        <h1 class="mb-2">難易度</h1>
        <tr>
          <th>Html</th>
          <td> <em class="icon-star-fill"></em></td>
        </tr>
        <tr>
          <th>Css</th>
          <td> <em class="icon-star-fill"></em></td>
        </tr>
        <tr>
          <th>Javascript</th>
          <td>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
          </td>
        </tr>
      </table>
      <button disabled class="mt-5">即將開放</button>
    </div>
  </div>
  <div class="col-xl-6 col-12 mt-xl-0 mt-3  h-100">
    <div class="Tutorial__Card angular">
      <h1 class="text-center w-100">Angular教學</h1>
      <p class="mt-3">在此章節中將詳細介紹Angular的框架結構、運作原理、生命週期、元件互動等，及Javascript的進階版「 Typescript 」，同時會介紹前端領域中非常重要的Rxjs用法及state
        management。</p>
      <table class="mt-3">
        <h1 class="mb-2">難易度</h1>
        <tr>
          <th>Angular</th>
          <td>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
          </td>
        </tr>
        <tr>
          <th>Typescript</th>
          <td>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
          </td>
        </tr>
        <tr>
          <th>Rxjs</th>
          <td>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
            <em class="icon-star-fill"></em>
          </td>
        </tr>
      </table>
      <button disabled class="mt-5">即將開放</button>
    </div>
  </div>
</div>
